<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Sku Customization</a>
  </li>
</ul>


<div *ngIf="this.isSkuCustomizationActive" id="skuContainer" class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div id="skuFieldsAdder" class="input-group">
        <select class="custom-select" [(ngModel)]="this.currentSelectionType">
          <option *ngFor="let field of this.sfl.listOfFields" value="{{field.type}}">{{field.name}}</option>
        </select>
        <div class="input-group-append">
          <input class="form-control" type="text" placeholder="Name" [(ngModel)]="this.currentNameOfNewField">
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="addSelectionToSkuModel()">Add</button>
        </div>
        <!-- <div class="input-group mt-1">
          <button class="btn btn-primary" type="button" (click)="saveSku()">Save</button>
        </div> -->
      </div>
    </div>
  </div>
  <div id="skuDisplayArea">
    <div class="card">
      <div *ngFor="let skuField of this.SKU; let index = index;trackBy:trackByIndex">
        <div class="card-body" *ngIf="skuField.TYPE === 'ID'">
          <div><span class="type-hint-small">ID</span></div>
          <table>
            <tr>
              <th>Name</th>
              <th>Start Point</th>
              <th>Current Id</th>
            </tr>
            <tr>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
              </td>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].startPoint">
              </td>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].currentId">
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body" *ngIf="skuField.TYPE === 'SELECT'">
          <div><span class="type-hint-small">SELECT</span></div>
          <table>
            <tr>
              <th>Name</th>
              <th>Fields (separated by commas)</th>
            </tr>
            <tr>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
              </td>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].choices">
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body" *ngIf="skuField.TYPE === 'DATE'">
          <div><span class="type-hint-small">DATE</span></div>
          <table>
            <tr>
              <th>Name</th>
              <th>Separation Character</th>              
            </tr>
            <tr>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
              </td>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].separator">
              </td>
            </tr>
          </table>
        </div>
        <div class="card-body" *ngIf="skuField.TYPE === 'VALUE'">
          <div><span class="type-hint-small">VALUE</span></div>
          <table>
            <tr>
              <th>Name</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
              </td>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].currentValue">
              </td>
            </tr>
          </table>
        </div>
        <div class="card-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="moveUp(index)">Move up</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="moveDown(index)">Move down</button>
            <button type="button" class="btn btn-danger btn-sm" (click)="removeSkuElement(index)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



