<ul class="nav nav-tabs">
  <li class="nav-item">
    <a (click)="displaySku()" href="#" class="nav-link"><b>Ebay Sku Generator</b></a>
  </li>
  <li class="nav-item">
    <a (click)="displayFillings()" href="#" class="nav-link"><b>Fields Auto-filling</b></a>
  </li>
</ul>
<div *ngIf="this.skuIsDisplayed">
  <div id="skuContainer" class="outside-color container-fluid">
    <div class="card inside-color spaced-card">
      <div class="card-header"><span>Add element</span></div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <select class="custom-select form-control" [(ngModel)]="this.currentSelectionType">
              <option *ngFor="let field of this.sfl.listOfFields" value="{{field.type}}">{{field.name}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Name" 
            [(ngModel)]="this.currentNameOfNewField"/>
          </div>
          <div  class="col-sm-4">
            <button class="btn btn-primary form-control" type="button" (click)="addSelectionToSkuModel()">Add</button>
          </div>
        </div>
        <div class="row" style="padding-top: 8px;">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <button  class="btn btn-danger form-control" type="button" (click)="deleteSku()">Delete Sku</button>
          </div>
        </div>
        <div *ngIf="this.smallErrorMessage !== ''" class="row" style="margin-top: 8px;">
          <div class="col-sm-12" ><span style="color: red;">{{this.smallErrorMessage}}</span></div>
        </div>
      </div>
    </div>
  </div>

  <div id="skuDisplayArea" class="container-fluid">
    <div class="card spaced-card inside-color">
      <div class="card-header"><span>Sku Structure</span></div>
      <div class="card-body">
        <div *ngIf="this.mockedSku !== ''">
          <span>{{this.mockedSku}}</span>
        </div>
      </div>
    </div>
    <div class="card spaced-card inside-color">
      <div class="card-header"><span>Error Messages</span></div>
      <div class="card-body">
        <ul style="color:red">
          <li class="" *ngFor="let error of this.errorList;">{{error}}</li>
        </ul>
      </div>
    </div>
    <div class="card spaced-card inside-color">
      <div *ngFor="let skuField of this.SKU;let index = index;trackBy:trackByIndex">
        <div class="card-body" *ngIf="skuField.TYPE === 'ID'">
          <div><span class="type-hint-small">ID</span></div>
          <table>
            <tr>
              <th>Name</th>
              <th>Current Id</th>
            </tr>
            <tr>
              <td>
                <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
              </td>
     <!--   <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].startPoint">
            </td> -->
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].currentId">
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body" *ngIf="skuField.TYPE === 'SELECT'">
        <div><span class="type-hint-small">SELECT</span></div>
        <table>
          <tr>
            <th>Name</th>
            <th>Fields (comma-separated)</th>
            <!-- <th>Selection</th> -->
          </tr>
          <tr>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
            </td>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].choices">
            </td>
   <!--<td *ngIf="this.SKU[index].choices.split(',').length">
              <select selectedIndex="parseInt(this.SKU[index]['currentValue'])" (change)="selectAction($event,index)" class="form-control">
                <option *ngFor="let choice of this.SKU[index].choices.split(',')">
                  {{choice}}
                </option>
              </select>
            </td> -->
          </tr>
        </table>
      </div>
      <div class="card-body" *ngIf="skuField.TYPE === 'DATE'">
        <div><span class="type-hint-small">DATE</span></div>
        <table>
          <tr>
            <th>Name</th>
            <th>Separation Character</th>              
          </tr>
          <tr>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
            </td>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].separator">
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body" *ngIf="skuField.TYPE === 'VALUE'">
        <div><span class="type-hint-small">VALUE</span></div>
        <table>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
            </td>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].currentValue">
            </td>
          </tr>
        </table>
      </div>
      <div class="card-body" *ngIf="skuField.TYPE === 'CONST'">
        <div><span class="type-hint-small">CONSTANT</span></div>
        <table>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
          <tr>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].name">
            </td>
            <td>
              <input (input)="saveSku()" class="form-control" type="text" [(ngModel)]="this.SKU[index].currentValue">
            </td>
          </tr>
        </table>
      </div>

      <div class="card-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-sm" (click)="moveUp(index)">Move up</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="moveDown(index)">Move down</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeSkuElement(index)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="this.fillingsIsDisplayed">
  <div class="card">
    <div class="card-header">Prefilled data</div>
    <div class="card-body">
      <table class="table">
        <tr>
          <th><span>Field</span></th>
          <th><span>Data</span></th>
        </tr>
        <tr>
          <td><span>Condition</span></td>
          <td><input (change)="this.savePrefills()" [(ngModel)]="this.prefills.condition" type="text" id="condition"></td>
        </tr>
        <tr>
          <td><span>Price</span></td>
          <td><input (change)="this.savePrefills()" [(ngModel)]="this.prefills.price" type="text" id="price"></td>
        </tr>
        <tr>
          <td><span>Size1</span></td>
          <td><input (change)="this.savePrefills()"  [(ngModel)]="this.prefills.size1"  type="text" id="size1"></td>
        </tr>
        <tr>
          <td><span>Size2</span></td>
          <td><input (change)="this.savePrefills()" [(ngModel)]="this.prefills.size2" type="text" id="size2"></td>
        </tr>
        <tr>
          <td><span>Size3</span></td>
          <td><input (change)="this.savePrefills()" [(ngModel)]="this.prefills.size3"  type="text" id="size3"></td>
        </tr>
        <tr>
          <td><span>Larger Weight Unit</span></td>
          <td><input (change)="this.savePrefills()" [(ngModel)]="this.prefills.lwu" type="text" id="larger_weight_unit"></td>
        </tr>
        <tr>
          <td><span>Smaller Weight Unit</span></td>
          <td><input (change)="this.savePrefills()" [(ngModel)]="this.prefills.swu" type="text" id="smaller_weight_unit"></td>
        </tr>
      </table>
    </div>
    <div class="card-footer"></div>
    ** This data is saved on change **
  </div>

</div>

